[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
pelican = "*"
markdown = "*"
invoke = "*"
pygments = "*"
pygments-lexer-solidity = "*"

[requires]
python_version = "3.7"
